.descriptionbox{
    margin:120px 170px;
}
.descriptionbox-navigator{
    display: flex;
}
.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width:171px;
    height:70px;
    border:1px solid #d0d0d0;
}
.descriptionbox-nav-box.fade{
    background: #4aa6ed;
    color:#af2e93;



}
.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap:25px;
    border: 1px solid #d0d0d0;
    padding: 48px;
    padding-bottom: 70px;
}


.description-item{
    display: flex;
    flex-direction: column;
}

.question-answer {
    
    display: flex;
    flex-direction: column; /* Change to column */
    gap: 1px; /* Adjust as needed */
    margin-bottom: 30px;
}

.question-side {
    display: flex;
    align-items: center;
    gap: 15px;
}

.question-side img {
    max-width: 50px;
    height: auto;
    background-color: rgba(242, 117, 117, 0.553);
    
}
.answer-name{
    color: red;
}

.qsic{
    height: 30px;
    width: 530px;
    background-color: rgb(243, 240, 245);
  }
  .qsbc{
    height: 34px;
    width: 130px;
    background-color: rgb(60, 12, 107);
  }


.question {
    margin: 0;
    flex: 1; /* Take remaining space */
    background-color: rgba(242, 117, 117, 0.553);
}

.answer-side {
    margin-left: 70px; /* Adjust as needed */
    background-color: rgba(173, 242, 117, 0.553);
}

.answer-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.answer-logo {
    max-width: 50px;
    height: auto;
    background-color: rgba(173, 242, 117, 0.553);
}

.answer {
    margin: 0;
}

.comment-section{
    
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.comment-section p{
   
    display: inline;
    
}
.comment-p1{
    height: 20px;
    background-color: aquamarine;
    
}
.comment-p2{
    color: rgb(42, 19, 247);
}

.qsicm{
    height: 30px;
    width: 530px;
    background-color: rgb(243, 240, 245);
  }
  .qsbcm{
    height: 34px;
    width: 130px;
    background-color: rgb(86, 221, 140);
  }
